@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
  word-wrap: break-word;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, Sans-Serif;
  text-decoration: none;
}
main{
  background-color: #010409;
  display: flex;
  justify-content:baseline;
  align-items: center;
}
.container{
  word-wrap: break-word;

  display: flex;
  flex-direction: column;

  margin: 40px 0;
  padding: 6px;

  background: linear-gradient(90deg, #9572FC 0%, #43E7AD 25%, #E2D45C 100%);
  border-radius: 8px;

  width: min-content;
  word-wrap: break-word;
}
.card{
  padding: 10px 25px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.767);
  word-wrap: break-word;
}
.containerUser{
  display: flex;
  justify-content:space-around;
  align-items: center;
  text-align: center;
  gap: 5px;
}

.containerUser img{
  width: 80px;
  height: 80px;

  padding: 3px;
  border-radius: 100%;

  background: linear-gradient(90deg, #9572FC 0%, #43E7AD 40%, #E2D45C 100%);
}

h2{
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color:  #614aa7;
  font-weight: 700;
}
.containerInformation{
  text-align: center;
  display: flex;
  flex-direction: column;
}
.containerInformation p{
  margin-top: 10px;
  
  font-size: 14px;
  font-weight: 600;

  color: #3a3a3a;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 5px;
}
.containerInformation .linkUser{
  font-size: 10px;
  color: #A1A1AA;
}

.searchProfile{
  display: flex;
  align-items: center;
  flex-direction: column;

  background-size: 100%;
  padding-bottom: 8px;

  height: 100vh;
}
.searchProfile h1{
  margin: 64px 0 24px;

  font-weight: 700;
  font-size: 28px;
  color: #e6edf3;
}
.containerBox{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.searchProfile input{
  width: 50%;
  padding: 14px;

  background-color: #010409;
  border-radius: 8px;
  border: 1px solid #30363d;

  font-size: 16px;
  color: #e6edf3;
}
.containerInformation {
  word-wrap: break-word;
}
.searchProfile input:focus{
  background-color: #161b22;
  border-color: #2f81f7;
  outline: none;
}
.searchProfile button{
  width: 50%;
  padding: 12px;

  font-weight: 700;
  font-size: 16px;
  
  background-color: #161b22;
  color: #e6edf3;

  border: 1px solid #30363d;
  border-radius: 8px;
  margin-top: 8px;

  cursor: pointer;

  transition: 0.4s;
}

.searchProfile button:hover{
  background: #212a3a;
}
.buttonLink{
  display: flex;
  width: 50%;
  gap: 20px;
}
.buttonLink button{
  width: 50%;
  padding: 2px;
  font-size: 14px;
}
.card_bio{
  text-align: justify;
}
.containerInformation .html_url{
  font-size: 11px;
  color: #53515a;
}
.html_url{
  display: flex;
  word-wrap: break-word;
  width: min-content;
}
.links{
  display: flex;
  width: 50%;
  justify-content: space-between;
  gap: 20px;
  margin-top: 10px;
}
.links div{
  padding: 10px;
  background-color: #30363d;
  border-radius: 10px;
  width: 50%;
}
header{
  background-color: #1a1f26;
  color: #e6edf3;
  display: flex;
  padding: 14px;
  justify-content: space-around;
  width: 100%;

}
.header-link{
  color: #f0f6fc;
  display: flex;
  align-items: center;
  gap: 5px;
}

footer{
  color: #7d8590;
  background-color: #010409;
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 10px;
  
  display: flex;
  justify-content: center;
  width: 100%;
}
.containerFooter{
  justify-content: space-around;
  align-items:baseline;
  display: flex;
  border-top: 1px solid #30363d;
  width: 60%;
  gap: 30px;
  
}
footer h2{
  color: #7d8590;
  font-size: 12px;
  font-weight: 400;
}
.containerFooter div a{
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  color: #7d8590;
}

.instruContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #e6edf3;
  width: 100%;
}
.instruContainer button{
  padding: 5px;
  width: 200px;
}
.textInst{
  width: 325px;
  margin-top: 30px;
  padding: 18px;

  border: 1px solid #30363d;
  border-radius: 10px;

  background-color: #161b22;
}
